<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <form>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Nombre:</label>
          <input type="text" class="form-control" id="nombre" value="POST">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Teléfono</label>
          <input type="phone" class="form-control" id="telefono" value="POST">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Cuenta</label>
            <input type="phone" class="form-control" id="telefono" value="POST">
          </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Estado</label>
            <input type="text" class="form-control" id="estado" value="POST">
          </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
      
</body>
</html>